.profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: 35%
}

body div h1 {
	text-align: center;
	font-size: 42px;
}
.address {
	text-align: center;
	font-size: 18px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	display: flex;
	justify-content: center;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}
.body {margin-left: 250px
}
h3 {
	font-size: 24px;
	text-decoration-line: underline;
}
h5 {font-size: 20px;
}
h6 {
	font-size: 18px;
	font-style: italic;
}